/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #7da6b9;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-simple-e-commerce-jobs-career-image_21503.jpg');
  background-repeat: no-repeat;
  background-size:100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: rgb(146, 147, 230);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight:bold ;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #7a6868;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

input[type="radio"] {
  margin: 0 5px;
}

button {
  padding: 10px;
  background-color: #72e081;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #20882e;
}

input[type="checkbox"] {
  margin: 10px 0;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
#gender{
display: flex;
flex-direction: row;
justify-content: space-between;
}
